/* --- GENERAL SITE SETTING --- */
html,body{
    margin: 0px;
    font-family: 'Ubuntu';
    font-weight: 300;
    height: 100%;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    animation: colorchange 1.5s alternate-reverse;
}
@keyframes colorchange {
    from{
        color: white;
    }
    to{
        color: rgb(24, 178, 224);
    }
}
.page{
    margin-left: 120px;
}
.fullpage{
    height: 100%;
}
/* ------------------------------ */

/* ----- ICONS STYLING ------ */
#contactlinks{
    font-size: 40px;
    position: fixed;
    top: 45px;
    left: 20px;
    width: 30px;
    height: 100%;
}
.contactlink{
    padding: 10px;
}
#githubicon{
    font-size: 35px;
}
/* -------------------------- */

/* ----- NAVBAR STYLING ----- */
#header{
    display: flex;
}
#navbar{
    width: 100%;
    display: flex;
    padding: 40px 40px 40px 0px;
}
#navbarlogo{
    font-size: 45px;
    color: white;
}
span{
    font-weight: 500;
}
#navbarlinks{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    margin: auto 0px auto auto;
}
.navbarlink{
    margin-left: 30px;
}
#Pipe{
    height: 100px;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: 50px;
}
/* -------------------------- */

#Intro{
    font-size: 37px;
    width: 50vw;
    padding-top: 100px;
}
