/* --- GENERAL SITE SETTING --- */
html,
body {
    z-index: 0;
    margin: 0px;
    font-family: "Ubuntu";
    font-weight: 300;
    height: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    animation: colorchange 1.5s alternate-reverse;
}

.page {
    position: relative;
    padding-left: 110px;
}

.fullPage {
    min-height: 100%;
}

span {
    font-weight: 500;
    color: rgb(24, 178, 224);
}

.white {
    background-color: white;
}

.grey {
    color: grey;
}

.underline {
    text-decoration: underline;
    text-decoration-color: grey;
    color: grey;
    font-weight: 600;
}

.label {
    padding: 5px 15px 5px 5px;
    position: absolute;
    top: 45px;
    font-size: 35px;
    transform: rotate(270deg);
    color: white;
}

/* ------------------------------ */

/* ----- ICONS STYLING ------ */
#contactlinks {
    z-index: 1;
    font-size: 40px;
    position: fixed;
    top: 45px;
    left: 15px;
    width: 30px;
    height: 100%;
}

.contactlink {
    padding: 10px;
}

#mailicon {
    font-size: 35px;
}

#githubicon {
    font-size: 35px;
}

/* -------------------------- */

/* ----- NAVBAR STYLING ----- */
.header {
    display: flex;
}

#navbar {
    width: 100%;
    display: flex;
    padding: 40px 40px 40px 0px;
}

#navbarlogo {
    font-size: 45px;
    color: white;
}

#navbarlinks {
    font-size: 20px;
    margin: auto 0px auto auto;
}

.navbarlink {
    margin-left: 30px;
}

#slidingnavbaricon {
    display: none;
    height: 25px;
    z-index: 2;
    margin: auto 0px auto auto;
}

#slidingnavbar {
    position: fixed;
    z-index: 1;
    background-color: black;
    height: 100%;
    width: 90%;
    display: none;
}

#slidingnavbarlinks {
    margin: auto 110px auto auto;
}

.slidingnavbarlink {
    font-size: 40px;
    margin-top: 40px;
}

/* #Pipe{
    height: 100px;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: 50px;
} */
/* -------------------------- */

/* -------- FIRST PAGE STYLING -------- */
#Intro {
    padding-top: 150px;
}

#IntroTitle {
    position: absolute;
    left: 95px;
    font-size: 200px;
    font-weight: 800;
    padding-left: 0px;
}

#MainIntro {
    position: absolute;
    color: rgb(194, 193, 193);
    top: 500px;
    font-size: 20px;
    width: 50vw;
}

#MyImage {
    top: 150px;
    position: absolute;
    width: 380px;
    height: 650px;
    left: 65%;
}

/* ------------------------------------- */

/* -------- SECOND PAGE STYLING -------- */
.aboutLabel {
    left: 60px;
}

#aboutContent {
    margin: 80px 0px 100px 80px;
    padding: 80px 5% 80px 100px;
    color: white;
    border: solid 3px white;
    border-right: 0px;
}

#aboutContentTitle {
    font-size: 100px;
}

#aboutContentMain {
    margin-top: 100px;
    color: rgb(206, 206, 206);
    font-size: 22px;
}

#toolsAndTechTitle {
    margin-top: 70px;
    font-size: 50px;
}

#toolsAndTechContent {
    margin-top: 30px;
    display: flex;
}

.iconContainer {
    margin-right: 30px;
}

.toolsAndTechIcon {
    width: 50px;
    height: 50px;
}

/* ------------------------------------- */

/* -------- THIRD PAGE STYLING -------- */
.projectLabel {
    left: -70px;
}

#projectContent {
    display: flex;
    margin-left: -50px;
}

.card {
    width: 430px;
    height: 650px;
    position: relative;
    margin: 0 auto;
}

.shifted {
    margin-top: 100px;
}

.cardImage {
    width: 430px;
    height: 400px;
    filter: brightness(90%);
    overflow: hidden;
    border-radius: 1rem;
}

.cardImage:hover {
    animation: brightnessdecrease 1s forwards;
}

.cardContent {
    position: absolute;
    left: 25px;
    top: 350px;
    padding: 20px;
    width: 340px;
    min-height: 150px;
    background-color: white;
    border-radius: 1rem;
    color: black;
}

.cardContentTitle {
    /* width: 100%; */
    font-size: 25px;
    font-weight: 500;
    /* margin: 50px 0px; */
}

.cardContentMain {
    margin-top: 25px;
}

.cardContentTechnologies {
    margin-top: 20px;
    display: flex;
}

.cardContentTechnology {
    background-color: rgb(24, 178, 224);
    color: white;
    font-weight: 400;
    padding: 5px;
    margin-right: 5px;
    border-radius: 1rem;
}

.projectLinks {
    display: flex;
    margin-top: 10px;
}

.projectLink {
    height: 30px;
    margin-right: 5px;
    color: black;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    align-items: center;
}

/* ------------------------------------- */

/* -------- FOURTH STYLING -------- */
.galleryLabel {
    left: -70px;
}

#galleryContent {
    display: flex;
    margin-left: -50px;
    min-height: 100vh;
    position: relative;
}

.landscape{
    position: absolute;
    max-height: 300px;
    max-width: 450px;
}
.portrait{
    position: absolute;
    max-height: 450px;
    max-width: 300px;
}
.force-portrait{
    position: absolute;
    height: 460px;
    width: 270px;
    object-fit: cover;

}

/* ------------------------------------- */

/* ---------- FOOTER STYLING ---------- */
.footer {
    margin-top: 200px;
    padding-left: 70px;
    font-size: 14px;
    padding-bottom: 100px;
}

.footerNav {
    display: flex;
}

.footerNavLink {
    margin: 0px 5px;
}

.copyright {
    margin: 20px 0px 0px 5px;
}

.location {
    margin: 5px 0px 0px 5px;
}

/* ------------------------------------ */

@media only screen and (max-width: 950px) {
    #contactlinks {
        font-size: 33px;
        top: 35px;
        left: 15px;
        width: 20px;
    }

    #mailicon {
        font-size: 30px;
    }

    #githubicon {
        font-size: 30px;
    }

    #navbar {
        padding: 30px 30px 30px 0px;
    }

    #navbarlogo {
        font-size: 35px;
    }

    #navbarlinks {
        font-size: 17px;
    }

    .navbarlink {
        margin-left: 25px;
    }

    #Intro {
        padding-top: 100px;
    }

    #IntroTitle {
        padding-top: 90px;
        padding-left: 5px;
        font-size: 150px;
    }

    #MainIntro {
        top: 480px;
        font-size: 18px;
    }

    #MyImage {
        top: 100px;
        width: 350px;
        height: 600px;
    }
}

@media only screen and (max-width: 800px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .shifted {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 770px) {
    #Intro {
        padding-top: 100px;
    }

    #IntroTitle {
        font-size: 150px;
    }

    #MainIntro {
        width: 80%;
        font-size: 18px;
    }

    #MyImage {
        display: none;
    }

    #slidingnavbaricon {
        display: block;
    }

    #navbarlinks {
        display: none;
    }
}

@media only screen and (max-width: 625px) {
    #Intro {
        padding-top: 100px;
    }

    #IntroTitle {
        padding-top: 90px;
        padding-left: 10px;
        font-size: 100px;
    }

    #MainIntro {
        top: 420px;
        width: 65%;
    }
}

@keyframes colorchange {
    from {
        color: white;
    }

    to {
        color: rgb(24, 178, 224);
    }
}

@keyframes brightnessdecrease {
    from {
        filter: brightness(90%);
    }

    to {
        filter: brightness(50%);
    }
}